name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - name: build
        run: make test
